<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ブクマカとともに星を見るサービス</title>
  <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
<div id="container">
  <section id="screen">
    <div class="star"></div><img src="images/star.png"></div>
  </section>
</div>
</body>
</html>